<div>
    <h2 id="page-heading">
        <span jhiTranslate="dsoTrabalho2App.anuncio.home.title">Anuncios</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-anuncio" [routerLink]="['/anuncio/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="dsoTrabalho2App.anuncio.home.createLabel">
            Create new Anuncio
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="anuncios">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="titulo"><span jhiTranslate="dsoTrabalho2App.anuncio.titulo">Titulo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="valorMin"><span jhiTranslate="dsoTrabalho2App.anuncio.valorMin">Valor Min</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="valorMax"><span jhiTranslate="dsoTrabalho2App.anuncio.valorMax">Valor Max</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="categoria"><span jhiTranslate="dsoTrabalho2App.anuncio.categoria">Categoria</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tituloVenda.title"><span jhiTranslate="dsoTrabalho2App.anuncio.tituloVenda">Titulo Venda</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="endereco.id"><span jhiTranslate="dsoTrabalho2App.anuncio.endereco">Endereco</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let anuncio of anuncios ;trackBy: trackId">
                <td><a [routerLink]="['/anuncio', anuncio.id, 'view' ]">{{anuncio.id}}</a></td>
                <td>{{anuncio.titulo}}</td>
                <td>{{anuncio.valorMin}}</td>
                <td>{{anuncio.valorMax}}</td>
                <td jhiTranslate="{{'dsoTrabalho2App.Categoria.' + anuncio.categoria}}">{{anuncio.categoria}}</td>
                <td>
                    <div *ngIf="anuncio.tituloVenda">
                        <a [routerLink]="['../venda', anuncio.tituloVenda?.id, 'view' ]" >{{anuncio.tituloVenda?.title}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="anuncio.endereco">
                        <a [routerLink]="['../endereco', anuncio.endereco?.id, 'view' ]" >{{anuncio.endereco?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/anuncio', anuncio.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/anuncio', anuncio.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'anuncio', { outlets: { popup: anuncio.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="anuncios && anuncios.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
